* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  height: 250px;
  width: 100%;
  background-image: url("./assets/makkah.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
